<h2 class="category-head">カテゴリー</h2>
<% categories.each do |category| %>
<p class="category-lists-box">
  <%= link_to category.name, questions_path(category_id: category.id), class: "category-lists" %><br>
</p>
<% end %>