<div class="page-padding">
  <div class="question-contents">
    <!--カテゴリー一覧-->
    <div class="categories-index categories-question-index">
      <%= render 'questions/categories', categories: @categories %>
    </div>
    <!--記事一覧-->
    <div class="questions-list">
      <h1 class="questions-list-head"><ruby>検索結果<rt>けんさくけっか</rt></ruby></h1>
      <% if @search_questions.present? %>
        <%= render 'questions/question', questions: @search_questions %>
      <% else %>
        <p>検索結果がありません</p>
      <% end %>
    </div>
    </div>
  </div>
</div>