<% if user_signed_in? %>
  <P class="favorite-count">♥<%= question.favorites.count %></P>
  <% if question.favorited_by?(current_user) %>
    <p>
      <%= link_to question_favorites_path(question), remote: true, method: :delete, class: "unfavorite-btn" do %>
        ♥お気に入り
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to question_favorites_path(question), remote: true, method: :post, class: "favorite-btn" do %>
        ♡お気に入りに入れる
      <% end %>
    </p>
  <% end %>
<% else %>
  <p class="favorite-count">♥<%= question.favorites.count %></p>
<% end %>