<% if user_signed_in? %>
  <%= form_with model:[question, comment] do |f| %>
    <%= f.text_area :body, placeholder: "コメントをここに", class: "question-body-field" %>
    <%= f.submit %>
  <% end %>
<% else %>
　<p>ログインしてコメントをする</p>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>