<div class="comments-cnt">
  <%= @question.comments.count %>コメント
</div>
<div class="commments-area">
  <% comments.each do |comment| %>
   <div class="comennt-item">
      <p>
        <%= link_to comment.user.name, user_path(comment.user), class: "comment-name" %>
      </p>
      <p><%= simple_format(h(comment.body)) %></p>
      <% if comment.user == current_user %>
      <p class="comment-delete-content">
        <%= link_to "削除", question_comment_path(comment.question, comment), method: :delete, remote: true,class: "comment-delete" %>
      </p>
      <% end %>
   </div>
  <% end %>
</div>