<div class="page-padding">
  <div class="post-contents-box">
    <h1 class="post-contents-head">フォロワー一覧</h1>
    <div class="users-list-content">
      <% if @users.present? %>
        <% @users.each do |user| %>
        <div class="user-list-item">
          <%= link_to user_path(user), class: "user-list-link" do %>
            <div class="user-list-link-items">
              <%= attachment_image_tag user, :image, size: '80x80', fallback: "no_image.png", class: "user-list-img" %>
              <p class="user-list-username"><%= user.name %></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p>まだフォローされているユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>