<div class="user-favorite-page">
  <!--ユーザープロフィール表示-->
  <div class="user-profile">
    <%= render 'profile', user: @user %>
  </div>
  <!--お気に入り一覧-->
  <div class="user-favorite-list">
    <h1 class="user-favorite-head">お気に入り一覧</h1>
    <div class="user-favorite-questions-list">
      <% @favorite_questions.each do |question| %>
      　<%= link_to question.title, question_path(question), class: "user-favorite-questions-title" %>
      <% end %>
    </div>
    <div class="user-favorite-paginate paginate">
      <%= paginate @favorite_questions %>
    </div>
  </div>
</div>