<div class="user-index-page">
  <!--カテゴリー一覧-->
  <div class="categories-index categories-user-index">
    <%= render 'questions/categories', categories: @categories %>
  </div>
  <!--ユーザー一覧-->
  <div class="users-list">
    <% @users.each do |user| %>
    <div>
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :image, size: '120x100' %>
        <p>ユーザーネーム：<%= user.name %></p> <%# if current_user.id == 0 %><%# admin権限持ちなので削除ボタンがある。 %><%# end%>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
