<% @categories.each do |category| %>
<div>
  <p><%= category.name %></p>
</div>
<% end %>

<% @users.each do |user| %>
<div>
  <%= link_to user_path(user) do %>
    <%= attachment_image_tag user, :image, size: '120x100' %>
    <p>ユーザーネーム：<%= user.name %></p>
  <% end %>
</div>
<% end %>
