<div class="user-page">
  <div class="user-contents">
    <!--ユーザープロフィール表示-->
    <div class="user-profile">
      <%= render 'profile', user: @user %>
    </div>
    <!--ユーザーの投稿一覧-->
    <div class="questions-list">
      <h3 class="questions-list-head"><%= @user.name %> のなんで<ruby>事典<rt>じてん</rt></ruby></h3>
      <% if @questions.present? %>
        <%= render 'questions/question', questions: @questions %>
      <% else %>
        <p>投稿はまだありません</p>
      <% end %>
      <div class="user-show-paginate paginate">
        <%= paginate @questions %>
      </div>
    </div>
  </div>
</div>