<div class="user-show-page">
  <!--ユーザープロフィール表示-->
  <div class="user-profile">
    <%= render 'profile', user: @user %>
  </div>
  <!--ユーザーの投稿一覧-->
  <div class="user-questions-list">
    <h3 class="user-questions-list-head"><%= @user.name %> のなんで事典</h3>
    <div class="questions-item">
      <% @questions.each do |question| %>
      <div class="questions-title">
        <%= link_to question.title, question_path(question) %>
      </div>
      <% end %>
    </div>
    <div class="user-show-paginate paginate">
      <%= paginate @questions %>
    </div>
  </div>
</div>