<div class="user-page">
  <div class="user-contents">
    <!--ユーザープロフィール表示-->
    <div class="user-profile">
      <%= render 'profile', user: @user %>
    </div>
    <!--ユーザーの投稿一覧-->
    <div class="questions-list">
      <h3 class="questions-list-head"><%= @user.name %> のなんで事典</h3>
      <%= render 'questions/question', questions: @questions %>
      <div class="user-show-paginate paginate">
        <%= paginate @questions %>
      </div>
    </div>
  </div>
</div>