<div class="page-padding">
  <div class="about-padding">
  <div class="nande-about">
    <h1 class="about-head">なんで事典とは</h1>
    <p>気になったことを記事にして、自分だけの『なんで事典』を作れる投稿サイトです。</p>
    <div class="about-box">
      <p class="about-items about-items1">なんで？</p>
      <p class="about-items about-items2">どうして？</p>
      <p class="about-items about-items3">気になる！</p>
      <p class="about-items about-items4">知りたい！</p>
    </div>
    <p>
      そんな気持ちになったら、なんで記事を書いてみよう！<br>
      ふしぎに思うこと。試したいこと。誰かに聞いてみたいこと。<br>
      どんな小さなことでも、自分で考えてみて。そして調べてみて。<br>
      世界の不思議を見つけにいこう！
    </p>
  </div>
