<div class="page-padding">
  <div class="about-padding">
  <div class="nande-about">
    <h1 class="about-head">なんで<ruby>事典<rt>じてん</rt></ruby>とは</h1>
    <p>
      気になったことを
      <ruby>記事<rt>きじ</rt></ruby>
      にして、自分だけの『なんで
      <ruby>事典<rt>じてん</rt></ruby>
      』を作れる
      <ruby>投稿<rt>とうこう</rt></ruby>サイトです。
    </p>
    <div class="about-box">
      <p class="about-items about-items1">なんで？</p>
      <p class="about-items about-items2">どうして？</p>
      <p class="about-items about-items3">気になる！</p>
      <p class="about-items about-items4">知りたい！</p>
    </div>
    <p>
      そんな<ruby>気持<rt>きも</rt></ruby>ちになったら、
      なんで<ruby>記事<rt>きじ</rt></ruby>を<ruby>書<rt>か</rt></ruby>いてみよう！<br>
      <ruby>不思議<rt>ふしぎ</rt></ruby>に思うこと。<ruby>試<rt>ため</rt></ruby>したいこと。
      <ruby>誰<rt>だれ</rt></ruby>かに聞いてみたいこと。<br>
      どんな小さなことでも、自分で<ruby>考<rt>かんが</rt></ruby>えてみて。そして<ruby>調<rt>しら</rt></ruby>べてみて。<br>
      <ruby>世界<rt>せかい</rt></ruby>の<ruby>不思議<rt>ふしぎ</rt></ruby>を見つけにいこう！
    </p>
  </div>
