<div class="homes-top-page">
  <div class="welcome-contents">
    <div id="container">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
      </div>
    </div>
    <div class="homes-top-welcome">
      <h1 class="welcome-head">なんで事典</h1>
      <p class="welcome-item">
        せかいにはふしぎがいっぱい！<br>
          <br>
        なんで？ どうして？？<br>
        いろんなふしぎを調べて、試して。<br>
        　<br>
        自分だけのなんで事典を作ろう！
      </p>
    </div>
  </div>
  <h1 class="homes-top-head">なんで事典トップだよ</h1>
  <div class="ranking-content">
    <h1 class="ranking-head">ランキング</h1>
    <% @rank.each.with_index(1) do |question, i| %>
    　<p><%= i %>位</p>
      <p><%= link_to question.title, question_path(question) %></p>
    <% end %>
  </div>
</div>

