/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: #F2F2F2;
}


header {
  width: 100%; /* 横幅 */
  background-color: #2E4159;
  padding: 0 15px 10px;
  // text-align: center;
  position: relative;
}

ul {
  list-style: none;
}

li {
}

li:hover {
  width: 180px;
}

.nav-contents {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-logo:hover {
  margin-left: 4px;
}

.nav-list {
  display: flex;
}

.header-username {
  color: #F2F2F2;
}

.search-form {
  margin: 0 auto;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 5px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 400px;
  overflow: hidden;
  background-color: #F2F2F2;
}

.search_field {
  background-color: #F2F2F2;
  width: 400px;
  border: none;
  height: 2.0em;
}

.search_field:focus {
  outline: 0;
}

.search_btn {
  cursor: pointer;
  border: none;
  background: rgb(115,50,68);
  color: #F2F2F2;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -3px;
  outline : none;
}

.search_btn:hover {
  background: rgba(115,50,68,0.9);
}

.under-head {
  background-color: #F2F2F2;
}

main {
  background-color: #F2F2F2;
}
