// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inquiry-post-fields{
  margin: 20px 40px;
  min-height: 190px;
}
.inquiry-field-p{
  font-size: 18px;
  margin-top: 10px;
}
.inquiry-field-name-mail{
  width: 100%;
  height: 30px;
}
.inquiry-field-name-mail:hover{
  background-color: rgba(40,65,94,0.1);
}
.inquiry-body-field{
  width: 100%;
  height: 120px;
}
.inquiry-body-field:hover{
  background-color: rgba(40,65,94,0.1);
}
.inquiry-post-btn{
  cursor: pointer;
  background-color: rgba(115,50,68,0.9);
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  height: 40px;
  color: #fff;
  font-size: 15px;
}
.inquiry-post-btn:hover {
  background-color: rgba(115,50,68,0.7);
}
.inquiry-thanks{
  text-align: center;
  font-size: 18px;
  margin: 40px 0;
}
.inquiry-top-link{
  text-align: right;
  margin-top: 100px;
}
