// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 新規登録ページ
.signUp-page {
  padding: 50px;
  color: #2E4159;
}
.signUp-contents {
  background-color: #fff;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 2px 2px 4px #2E4159;
}

.e-messages{
  color: red;
}
.signUp-head {
  font-size: 24px;
  border-bottom: 1px solid rgba(115,50,68,0.9);
  margin-bottom: 10px;
}
.signUp-table {
  width: 100%;
}
.signUp-table tr {
  line-height: 50px;
}
.signUp-table th {
  width: 50%;
}
.signUp-table p {
  text-align: left;
}
.signUp-field {
  width: 90%;
  height: 30px;
}
.signUp-field:hover {
  background-color: rgba( 0, 0, 0, 0.1);
}

.signUp-actions {
  width: 500px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 0;
}
.signUp-btn {
  cursor: pointer;
  background-color: rgba(115,50,68,0.9);
  width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  height: 40px;
  color: #fff;
  font-size: 15px;
}
.signUp-btn:hover {
  background-color: rgba(115,50,68,0.7);
}