<div class="page-padding">
  <div class="post-contents-box">
    <h1 class="post-contents-head">お問い合せ</h1>
    <div class="inquiry-post-fields">
      <p class="inquiry-thanks">お問い合わせ頂きましてありがとうございます</p>
      <p class="inquiry-top-link">
        <%= link_to "トップページに戻る", root_path, class: 'inquiry-top-link' %>
      </p>
    </div>
  </div>
</div>